@font-face {
  font-family: cupcake;
  src: url(fonts/cupcake.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 24px;
  }
  body{
    display:grid;
    align-items:center;
    align-content: space-around;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background: #e6e6ea;
    background-image: url(images/bg-image.svg);
    background-size:100%;
    
  }

img{
  width: 100%;
  max-width: 700px;
}

  .instructions{
    background-color: #2ab7ca;
    padding: 15px;
    padding-left: 50px;
    border-radius: 10px;
    text-align: justify;
    color:#F4F4F8;
    line-height: 40px;
  }

  .button-container {
    display:flex;
    justify-content:center;
    margin-right: 15px;
  }

  button {
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    background: #2ab7ca;
    color:#f4f4f8;
    padding: 15px;
    border: 0px;
    font-family: 'cupcake';
  
  }
  
  button:hover{
    background: #fed766;
    color:#fe4a49;
  }

  h1 {
    margin-bottom: 40px;
    color: #F4F4F8;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'cupcake';
  }
  
  h3 {
    color: #F4F4F8;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }


  @media screen and (max-width: 768px) {
    /* Estilos para telas de smartphone */
    
    img {
      max-width: 80%;
    }
    .instructions{
      max-width: 70%;
      margin: 0 auto;
      display: grid;
      text-align:left;
    }

    ol li::marker {
      font-weight: bold;
    }
    
    li {
      margin-bottom: 20px;
    }

    body {

      background-image: url(images/bg-image-mobile.svg);
      background-size:100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Estilos para telas de dispositivos móveis menores */
    
    a {
      font-size: 18px;
      padding: 3vw;
    }
  }